<!DOCTYPE html>
<html>
  <head>
    <title>MailForm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# Render flashes if any %>
    <% if notice %>
      <p class="text-white bg-amber-500 p-2 rounded"><%= notice %></p>
    <% elsif alert %>
      <p class="text-white bg-red-500 p-2 rounded"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
